@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg-primary: 243 244 246;
        /* gray-100 */
        --color-bg-secondary: 255 255 255;
        /* white */
        --color-text-primary: 17 24 39;
        /* gray-900 */
        --color-text-secondary: 75 85 99;
        /* gray-600 */
    }

    .dark {
        --color-bg-primary: 17 24 39;
        /* gray-900 */
        --color-bg-secondary: 31 41 55;
        /* gray-800 */
        --color-text-primary: 243 244 246;
        /* gray-100 */
        --color-text-secondary: 209 213 219;
        /* gray-300 */
    }

    html {
        @apply transition-colors duration-300;
    }
}

/* 自定义全局样式 */